{% extends 'MeetingApp/base.html' %}
<div class="w3-container">
      {% if messages %}
        {% for message in messages %}

          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <br>
              <br>
              <br>
             <p class="w3-large">{{ message }}</p>
              <button type="button" class="close"  aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
</div>
{% block body %}

{% if form.errors %}
    <br/><br/>
    <p class="w3-large"> Ocorreu um erro com o formulário! </p>
{% endif %}

	<br/><br/>
	<h1 class="w3-padding-32 w3-margin-left "><b>Registo</b></h1>
<br/><div class="w3-container w3-half">
    <form method=POST class="w3-container ">
			{% csrf_token %}

            {{ form.as_p }}
            <br/><br/>
            <input type="submit" class="w3-button w3-blue w3-round w3-xlarge" value="Registar">
        </form></div>
     <div class="w3-half w3-container">
        {% load static %}
        <img src="{% static 'static/image_home.jpg' %}" style="display: block;margin-left: 0;margin-right: 0;width:100%;max-height:600px">
    </div>
<br/><br/>	
{% endblock %}