<!DOCTYPE html>
<html>
<head>
<title>Meeting App</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<!-- Navbar (sit on top) -->

<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">

       <a class="w3-bar-item w3-button"><b>MA</b> Support Meetings</a>
      {% if user.is_authenticated %}
        <a class="w3-bar-item "> Olá {{ user }} !</a>
      {% endif %}
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right">
        {% if user.is_authenticated %}
            <a href="/home" class="w3-bar-item w3-button">Home</a>
            <a href="/Inicial" class="w3-bar-item w3-button">Reuniões</a>
            <a href="/membros/logout_user" class="w3-bar-item w3-button">Logout
            </a>
        {% else %}
            <a href="/home" class="w3-bar-item w3-button">Home</a>
            <a href="/membros/login_user" class="w3-bar-item w3-button">Login</a>
            <a href="/membros/register_user" class="w3-bar-item w3-button">Register</a>
        {% endif %}

    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>MA</b></span> <span class="w3-hide-small w3-text-light-grey">Architects</span></h1>
  </div>
</header>

<!-- Page content -->
 <div class="w3-container">
      {% if messages %}
        {% for message in messages %}

          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <br>
              <br>
              <br>
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

{% block body %}
{% endblock %}
<!-- End page content -->
</div>


</body>
</html>