{% extends 'MeetingApp/base.html' %}

{% block body %}
	<div class="w3-container w3-padding-64">
        <h1 class="w3-bold w3-jumbo">Aplicação de Suporte de Reuniões</h1>
        <div class=" w3-container w3-half w3-padding-top">
            <h3 class="w3-xxlarge">Para Facilitar as Reuniões Presenciais!</h3>
            <div w3 class="w3-container w3-round w3-light-blue"><p>Esta aplicação faz parte de um projeto proposto pela UTAD para suporte de reuniões!<br>
                Tem várias Funcionalidades: <br><b>acesso descentralizado a documentos pertinentes,</b> <br>
                 <b> Gestão de Votações,<br> Gestão de precensas e de intervenções.</b>
                <br>
                Esta é a nova pagina inicial,faça o seu registo ou login caso já tenha conta.
                <h4 class="w3-xxlarge w3-bold">Gira as suas Reuniões Connosco!</h4>
            </p></div>

        </div>
        <div class=" w3-container w3-half w3-padding-top">
                {% load static %}
                <img src="{% static 'static/image_home.jpg' %}" style="display: block;margin-left: 0;margin-right: 0;width:100%;max-height:600px">
            </div>

    </div>
{% endblock %}