{% extends 'MeetingApp/base.html' %}

{% block body %}
<div>
     <div class="w3-container w3-padding-64" >
    </div>
    <div class="w3-half w3-container">
         <h1 class="w3-center w3-padding-16"><b>Próximas Reuniões</b></h1>
         <div class="w3-container w3-padding-16 w3-light-blue w3-round" style="min-height:350px; max-height:450px">

             {% if reunioes %}
                 {% for item in reunioes %}
                    <div class="w3-container w3-margin-bottom  w3-light-grey w3-round" >
                        <div class="w3-container w3-half" >
                            <h4>{{ item.name }}&nbsp-{{item.data|date:'m-b, H:i'}}
                            </h4>
                            <p class="w3-medium">{{item.assunto}}</p>
                        </div>
                        <div class="w3-half  w3-align-right">
                            <a href="/reuniao/{{item.id}}" class="w3-align-right w3-margin-top  w3-margin-left w3-button w3-blue w3-round">Entrar</a>
                        </div>
                        </div>


                 {% endfor %}

             {% else %}
               <h4 class="w3-center">Não tem reuniões marcadas...</h4>
             {% endif %}

         </div>

    </div>

    <div class="w3-half w3-container">
        {% load static %}
        <img src="{% static 'static/image_home.jpg' %}" style="display: block;margin-left: 0;margin-right: 0;width:100%;max-height:600px">
    </div>

</div>
{% endblock %}
