{% extends 'MeetingApp/base.html' %}

{% block body %}
{% if user.is_authenticated %}
   {% for item in participantes %}
      {% if item.username == user.username %}
<div>
     <div class="w3-padding-64 w3-light-blue w3-round" >
         {% for reu in reuniao %}
         <h1 class="w3-padding-top w3-center w3-jumbo"><b>{{reu.name}}</b></h1>
         <h2 class="w3-padding-bottom w3-center">{{reu.assunto}}</h2>
         {% endfor %}
    </div>
    <div class="w3-third w3-container ">
         <h1 class="w3-center w3-padding-16"><b>Participantes</b></h1>
         <div class="w3-container w3-padding-16  w3-light-blue w3-round" style="min-height:300px; max-height:300px; overflow-y: scroll">
            {% if participantes %}
              {% for item in participantes %}
               <div class="w3-container w3-margin-bottom  w3-light-grey w3-round">
                   <p class="w3-medium"><b>{{ item.first_name }} {{ item.last_name }}</b> - {{ item.participante__role }} <input type="checkbox"></p>
               </div>
              {% endfor %}

        {% else %}
               <h4 class="w3-center">Ainda nao há participantes...</h4>
        {% endif %}
         </div>

    </div>

    <div class="w3-third w3-container" >
        <h1 class="w3-center w3-padding-16"><b>Ficheiros</b></h1>
        <div class="w3-container w3-padding-16 w3-light-blue w3-round" style="min-height:300px; max-height:300px ; overflow-y: scroll">
             {% if ficheiros %}
              {% for item in ficheiros %}
                <div class="w3-container w3-margin-bottom  w3-light-grey w3-round">
                   <a class="w3-center" href="{{item.file.url}}" target="_blank" >
                 <h4 >{{ item.name }} </h4>
                </a>
                </div>

              {% endfor %}
            {% else %}
               <h3 class="w3-center w3-margin-top">Ainda nao há ficheiros...</h3>
            {% endif %}

         </div>
    </div>

    <div class="w3-third w3-container">
        <h1 class="w3-center w3-padding-16"><b>Votações</b></h1>
        <div class="w3-container w3-padding-16 w3-light-blue w3-round" style="min-height:300px; max-height:300px ; overflow-y: scroll">
             {% if votacoes %}
              {% for vote in votacoes %}
                <div class="w3-container w3-margin-bottom  w3-light-grey w3-round">
                 <h4 class="w3-center">{{vote.name}} </h4>
                    <p>{{vote.assunto}}</p>
                    <a class="w3-align-left w3-button w3-green w3-margin-bottom">A Favor</a>
                    <a class="w3-align-right w3-button w3-white w3-margin-bottom">Em Branco</a>
                    <a class="w3-align-right w3-button w3-red w3-margin-bottom">Contra</a>
                    {% for reu in reuniao %}
                        {% if item.participante__role == 'Presidente' %}
                            <a class="w3-align-right w3-button w3-orange w3-margin-bottom" href="/delete/{{ vote.id }}/{{ reu.id }}">Apagar</a>
                        {% elif item.participante__role == 'Vice-presidente'%}
                            <a class="w3-align-right w3-button w3-orange w3-margin-bottom" href="/delete/{{ vote.id }}/{{ reu.id }}">Apagar </a>
                        {% endif %}
                    {% endfor %}
                </div>
              {% endfor %}
            {% else %}
               <h4 class="w3-center">Ainda nao há votações...</h4>
            {% endif %}

         </div>
    </div>

        {% if item.participante__role == 'Presidente' %}
            <div class="w3-padding-64" style="margin-top: 350px"></div>
            <div class="w3-container w3-center w3-padding-top">
            {% for reu in reuniao %}
               <div class="w3-container w3-padding-16 w3-light-blue w3-round">
                    <a class="w3-center w3-button w3-blue w3-padding-16 w3-round" href="/votacao/{{ reu.id }}">Criar Votação</a>
                    <div class="w3-align-left w3-container">
                    {% if intervencoes %}
                        {% for item in intervencoes %}
                                    <div class="w3-container w3-margin-bottom  w3-light-grey w3-round">
                                            {% if part.id == item.participante__id %}
                                                <p class="w3-medium"><b>{{ part.username }} </b> pediu para intervir às - {{ item.datai }} </p>
                                            {% endif %}
                                    </div>

                        {% endfor %}
                    {% else %}
               <h4 class="w3-align-left">Ainda nao há intervenções...</h4>
        {% endif %}
                </div>
               </div>
            {% endfor %}
            </div>
        {% elif item.participante__role == 'Vice-presidente' %}
            <div class="w3-padding-64" style="margin-top: 350px"></div>
            <div class="w3-container w3-center w3-padding-top">
            {% for reu in reuniao %}

            <div class="w3-container w3-center  w3-padding-top" >
               <div class="w3-container w3-padding-16 w3-light-blue w3-round">
                    <a class="w3-center w3-button w3-blue w3-padding-16 w3-margin-top w3-round" href="/votacao/{{ reu.id }}">Criar Votação</a>
                    <div class="w3-align-left w3-container">
{#                    {% if intervencoes %}#}
{#                        {% for item in intervencoes %}#}
                                    <div class="w3-container w3-margin-bottom w3-margin-top  w3-light-grey w3-round">
{#                                            {% if part.id == item.participante__id %}#}
                                                <p class="w3-medium"><b>António Costa </b> pediu para intervir às - 10:32:00 </p>
{#                                            {% endif %}#}
                                    </div>
{##}
{#                        {% endfor %}#}
{#                    {% else %}#}
{#               <h4 class="w3-align-left">Ainda nao há intervenções...</h4>#}
{##}
{#        {% endif %}#}

                </div>
            {% endfor %}
               </div>
            </div>
            {% elif item.participante__role == 'Secretário' %}
            <div class="w3-padding-64" style="margin-top: 350px"></div>
            <div class="w3-container w3-center w3-padding-top">
            {% for reu in reuniao %}
               <div class="w3-container w3-padding-16 w3-light-blue w3-round">
                    <a class="w3-align-right w3-button w3-blue w3-margin-bottom w3-round" > Pedir Intervenção </a>
                    <a class="w3-align-right w3-button w3-blue w3-margin-bottom w3-round">Marcar precensas</a>
                    <div class="w3-align-left w3-container">
                    {% if intervencoes %}
                        {% for item in intervencoes %}
                                    <div class="w3-container w3-margin-bottom  w3-light-grey w3-round">
                                            {% if part.id == item.participante__id %}
                                                <p class="w3-medium"><b>{{ part.username }} </b> pediu para intervir às - {{ item.datai }} </p>
                                            {% endif %}
                                    </div>

                        {% endfor %}
                    {% else %}
               <h4 class="w3-align-left">Ainda nao há intervenções...</h4>
        {% endif %}
                </div>
               </div>
            {% endfor %}
            </div>
            {% elif item.participante__role == 'Participante' %}
            <div class="w3-padding-64" style="margin-top: 350px"></div>
            <div class="w3-container w3-center w3-padding-top">
            {% for reu in reuniao %}
               <div class="w3-container w3-padding-16 w3-light-blue w3-round">
                    <a class="w3-align-right w3-button w3-blue w3-margin-bottom w3-round" > Pedir Intervenção </a>
                    <div class="w3-align-left w3-container">
                        <div class="w3-container w3-margin-bottom w3-margin-top  w3-light-grey w3-round">
{#                                            {% if part.id == item.participante__id %}#}
                                                <p class="w3-medium"><b>António Costa </b> pediu para intervir às - 10:32:00 </p>
{#                                            {% endif %}#}
                                    </div>
{#                    {% if intervencoes %}#}
{#                        {% for item in intervencoes %}#}
{#                                    <div class="w3-container w3-margin-bottom  w3-light-grey w3-round">#}
{#                                            {% if part.id == item.participante__id %}#}
{#                                                <p class="w3-medium"><b>{{ part.username }} </b> pediu para intervir às - {{ item.datai }} </p>#}
{#                                            {% endif %}#}
{#                                    </div>#}
{##}
{#                        {% endfor %}#}
{#                    {% else %}#}
{#               <h4 class="w3-align-left">Ainda nao há intervenções...</h4>#}
{#        {% endif %}#}
                </div>
               </div>
            {% endfor %}
            </div>
        {% endif %}
      {% endif %}
   {% endfor %}
{% else %}
    <div class="w3-container w3-padding-16" >
             <h1 class="w3-border-bottom w3-border-light-grey w3-padding-64 w3-center"><b>Acesso Negado.</b></h1>
              <p class="w3-large w3-bold">Ou não está logado ou não está presente nesta reunião!</p>
             </div>
{% endif %}

{% endblock %}
