{% extends 'MeetingApp/base.html' %}

{% block body %}
<div>
     <div class="w3-container w3-padding-16" >
    <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center">{{reuniao.name}}</h1>
    </div>
    <div class="w3-third w3-container">
         <h1 class="w3-center w3-padding-16">Participantes</h1>
         <div class="w3-container w3-padding-32  w3-grey">
            {% if participantes %}
              {% for item in participantes %}
               <div class="w3-container w3-margin-bottom  w3-light-grey w3-round">
                   <p class="w3-medium">{{ item.name }} - {{ item.participante__role }} </p>
               </div>
              {% endfor %}
        {% else %}
               <h4 class="w3-center">Ainda nao há participantes...</h4>
        {% endif %}
         </div>

    </div>

    <div class="w3-third w3-container">
        <h1 class="w3-center w3-padding-16">Ficheiros</h1>
        <div class="w3-container w3-padding-16 w3-grey w3-round">
             {% if ficheiros %}
              {% for item in ficheiros %}
                <div class="w3-container w3-margin-bottom  w3-light-grey w3-round">
                   <a class="w3-center" href="{{item.file.url}}" target="_blank" >
                 <h4 >{{ item.name }} </h4>
                </a>
                </div>

              {% endfor %}
            {% else %}
               <h4 class="w3-center">Ainda nao há ficheiros...</h4>
            {% endif %}

         </div>
    </div>
     <div class="w3-third w3-container w3-center w3-padding-top">
        <a href="https://google.com" class="w3-button w3-black w3-center">Entrar Reunião</a>
        <h1 class="w3-center w3-padding-16"></h1>
    </div>

</div>
{% endblock %}
